name: desktop_multi_window
description: "A new Flutter plugin project."
version: 0.0.1
homepage:

environment:
  sdk: ^3.9.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: FlutterMultiWindowPlugin
      windows:
        pluginClass: DesktopMultiWindowPlugin
      linux:
        pluginClass: DesktopMultiWindowPlugin